<!-- the deleteAddressModalController is defined in csAddressesController.js-->
<div ng-controller="spDeleteAddressModalController">
    <h3>Are you sure you want to delete this Address?</h3>
    <p>This will permanently remove all the address info.  It will also remove any references to this address in all other areas.</p>
    <div class="row">
        <button class="btn btn-lg btn-danger col-md-6" ng-click="deleteAddress.deleteAddress.Yes()">Yes</button>
        <button class="btn btn-lg btn-success col-md-6" ng-click="deleteAddress.deleteAddress.No()">No</button>
    </div>
</div>