<div ng-form="wakDataForm" wak-data="current.Orders">
<!-- CUSTOMER ORDER FORM -->
        <div class="row">
            <div class="col-md-3">
                <h3>Customer Order</h3>
            </div>
            <wak-mod-info col="6"></wak-mod-info>
            <div class="col-md-2 col-md-offset-1">
                <button class="btn btn-primary" ng-click="csOrders.csOrders.printCurrentOrder()">
                Print</button>
                <button class="btn btn-warning" ng-click="csOrders.csOrders.genPOsForCurrentOrder()">
                Generate P.O.'s</button>
                <button class="btn btn-danger" ng-click="csOrders.confirmDelete(entity)">
                Delete Order</button>
            </div>
        </div> <!-- END ROW -->
        <div class="row">
                <wi w-label="Order ID"          w-model="entity.ID"             w-col="3"       readonly        ></wi>
                <wi w-label="Customer Order No" w-model="entity.orderNo"        w-col="3"                       ></wi>
                <wi w-label="Order Revision"    w-model="entity.orderRev"       w-col="3"                       ></wi>
                <wi w-label="Order Date"        w-model="entity.orderDate"      w-col="3"       w-type="date"   ></wi>
        </div><!-- END ROW -->
        <div class="row">
                <wi w-label="Order Contact"     w-model="entity.contactName"    w-col="3"       readonly     ng-click="wakDataDir.SAM.csContacts(entity, 'contact', current.Customer);"></wi>
                <wi w-label="Representative"    w-model="entity.representative" w-col="3"       readonly        ></wi>
                <wi w-label="File Link"         w-model="entity.orderFile"      w-col="3"                       ></wi>
                <wi w-label="Order Terms"       w-model="entity.orderTerms"     w-col="3"                       ></wi>
        </div><!-- END ROW -->
        <div class="row">
                <wi w-label="Ship Via"          w-model="entity.shipVia"        w-col="3"                       ></wi>
                <wi w-label="Ship Service"      w-model="entity.shipService"    w-col="3"                       ></wi>
                <wi w-label="Ship Account"      w-model="entity.shipAcct"    w-col="3"                       ></wi>
                <wi w-label="Ship Terms"        w-model="entity.shipTerms"      w-col="3"                       ></wi>         
        </div><!-- END ROW -->
        <div class="row">
                <wi text w-label="Bill To"              w-model="entity.billToAddress"    w-col="3"     ></wi>
                <wi text w-label="Ship To"              w-model="entity.shipToAddress"    w-col="3"     ></wi>
                <wi text w-label="Ship Instructions"    w-model="entity.shipInstructions" w-col="3"     ></wi>
                <wi text w-label="Notes"                w-model="entity.notes"            w-col="3"     ></wi>   
              
        </div><!-- END ROW -->
        <div wak-data="OrderLineItems" filter="Orders">
            <div ng-include="'/apps/Customers/csDashTabs/orders/csOrderLines.html'"></div>
        </div><!-- END ROW -->
</div>