<h5>Line Items</h5>
<div class="row" style="border:1px solid;" ng-repeat="oLine in collection | orderBy:'lineID'">

    <div class="col-md-1 less-col-padding">
        
        <wi tiny w-label="Line No" w-model="oLine.lineID" blur-args="oLine"></wi>
        
        <button type="button" class="btn btn-danger" ng-click="remove(oLine)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>

    </div> <!-- End Column -->

    <div class="col-md-2  less-col-padding">
        <wi tiny w-label="Part No"          w-model="oLine.partNo"   blur-args="oLine" readonly ng-click="wakDataDir.SAM.selectParts(oLine, 'partRev')"></wi>
        <wi tiny w-label="Part Rev"         w-model="oLine.revision" blur-args="oLine" readonly ng-click="wakDataDir.SAM.selectParts(oLine, 'partRev')"></wi>
        <wi tiny w-label="Part Description" w-model="oLine.partDesc" blur-args="oLine" readonly ng-click="wakDataDir.SAM.selectParts(oLine, 'partRev')"></wi>
    </div>  <!-- End Column -->
        
    <div class="col-md-2 less-col-padding">

        <wi tiny w-label="Status"       w-model="oLine.status"      readonly></wi>
        <wi tiny w-label="Order Price"  w-model="oLine.price"       blur-args="oLine"></wi>
        <wi tiny w-label="Quoted Price" w-model="oLine.quotedPrice" readonly></wi>
        <wi tiny w-label="Unit"         w-model="oLine.unit"        readonly></wi>

    </div> <!-- End Column -->
    <div class="col-md-7">

        <div class="row">

            <div class="col-xs-1 less-col-padding text-centered">ID</div>
            <div class="col-xs-2 less-col-padding text-centered">Qty</div>
            <div class="col-xs-3 less-col-padding text-centered">Due</div>
            <div class="col-xs-2 less-col-padding text-centered">Balance</div>
            <div class="col-xs-3 less-col-padding text-centered">Status</div>
            <div class="col-xs-1 less-col-padding text-centered"></div>

        </div> <!-- End Row -->
        <div wak-data="OrderLineItemQtys" filter="lineRef.ID = :1" params="oLine.ID">
            <div class="row" ng-repeat="oliq in collection | orderBy:'due'">

                <wi tiny tf xs w-col="1" w-model="oliq.lineID"      blur-args="oliq"                  ></wi>
                <wi tiny tf xs w-col="2" w-model="oliq.qty"         blur-args="oliq"                  ></wi>
                <wi tiny tf xs w-col="3" w-model="oliq.due"         blur-args="oliq"    w-type="date" ></wi>
                <wi tiny tf xs w-col="2" w-model="oliq.balance"     blur-args="oliq"    readonly      ></wi>
                <wi tiny tf xs w-col="3" w-model="oliq.status"      blur-args="oliq"    readonly      ></wi>              

                <div class="col-xs-1 less-col-padding">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="remove(oliq)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>

            </div> <!-- End Row -->
        
            <div class="row">

                <div class="col-xs-offset-11 col-xs-1 less-col-padding">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="add({lineRef: oLine})">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>

            </div> <!-- End Row -->
        </div> <!-- END WAK DATA-->


    </div> <!-- End Column -->
</div> <!-- End Row -->

<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" ng-click="add()">Add Line</button>
    </div>
</div> <!-- End Row -->