<!-- QUOTES FORM -->
        <div class="row">
            <div class="col-md-3">
                <h3>Customer Quote</h3>
            </div>
            <wak-mod-info col="6"></wak-mod-info>
            <div class="col-md-2 col-md-offset-1">
                <button class="btn btn-danger" ng-click="wakDataDir.confirmDelete(entity)">
                Delete Quote</button>
            </div>
        </div>

        <div class="row">
            <wi w-col="3" w-label="Quote No"        w-model="entity.ID"             readonly        ></wi>
            <wi w-col="3" w-label="Quote Title"     w-model="entity.quoteTitle"                     ></wi>
            <wi w-col="3" w-label="Quote Date"      w-model="entity.quoteDate"      w-type="date"   ></wi>
            <wi w-col="3" w-label="Quote Expires"   w-model="entity.quoteExpires"   w-type="date"   ></wi>
        </div> <!-- End Row -->
        
        <div class="row">
            <wi w-col="3" w-label="Quoted By"       w-model="entity.quoteBy"        readonly        ></wi>
            <wi w-col="3" w-label="Quote For"       w-model="entity.contactName"    readonly        ng-click="csQuotes.csQuotes.selectCustomerContact()" ></wi>
            <wi w-col="3" w-label="Representative"  w-model="entity.representative" readonly        ></wi>
            <wi w-col="3" w-label="Terms"           w-model="entity.terms"                          ></wi>
        </div> <!-- End Row -->
<!--FOB -->
        <div class="row">
            <wi text w-col="3" w-label="FOB"            w-model="entity.FOB"                        ></wi>
            <wi text w-col="3" w-label="Delivery"       w-model="entity.delivery"                   ></wi>
            <wi text w-col="3" w-label="Address"        w-model="entity.address"                    ></wi>
            <wi text w-col="3" w-label="Notes"          w-model="entity.notes"                      ></wi>
        </div><!-- End Row -->

        <div class="row" wak-data="CsQuoteLineItems" filter="CustomerQuotes">
            <div class="col-md-12" ng-include="'/apps/Customers/csDashTabs/quotes/quoteLinesForm.html'"></div>
        </div>