<h5>Line Items</h5>
<div class="row" style="border:1px solid;" ng-repeat="qLine in collection | orderBy:'lineID'">

    <div class="col-md-1 less-col-padding">
        <wi tiny w-label="Line No" w-model="qLine.lineID" blur-args="qLine"></wi>
        
        <button type="button" class="btn btn-danger" ng-click="remove(qLine)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div> <!-- End Column -->

    <div class="col-md-3  less-col-padding">
        <wi tiny w-label="Part No"          w-model="qLine.partNo"      blur-args="qLine"   ></wi>
        <wi tiny w-label="Part Rev"         w-model="qLine.partRev"     blur-args="qLine"   ></wi>
        <wi tiny w-label="Part Description" w-model="qLine.partDesc"    blur-args="qLine"   ></wi>
    </div>  <!-- End Column -->
        
    
    <wi w-col="4" tiny text w-label="Quote Description"   w-model="qLine.quoteDescription"      blur-args="qLine"   ></wi>        
    
    <div class="col-md-4">

        <div class="row">
            <div class="col-xs-4 less-col-padding text-centered">Qty</div>
            <div class="col-xs-5 less-col-padding text-centered">Price</div>
            <div class="col-xs-2 less-col-padding text-centered">Unit</div>
            <div class="col-xs-1 less-col-padding text-centered"></div>
        </div> <!-- End Row -->

        <div wak-data="CsQuoteLineItemQtys" filter="quoteLine.ID = :1" params="qLine.ID">
            <div class="row" ng-repeat="qliq in collection | orderBy:'ID'">
                <wi tiny tf xs w-col="4" w-model="qliq.qty"     blur-args="qliq"    ></wi>
                <wi tiny tf xs w-col="5" w-model="qliq.price"   blur-args="qliq"    ></wi>
                <wi tiny tf xs w-col="2" w-model="qliq.unit"   blur-args="qliq"    ></wi>
               
                <div class="col-xs-1 less-col-padding">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="remove(qliq)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>

            </div> <!-- End Row -->
        
            <div class="row">

                <div class="col-xs-offset-11 col-xs-1 less-col-padding">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="add({quoteLine: qLine})">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>

            </div> <!-- End Row -->
        </div> <!-- END WAK DATA-->


    </div> <!-- End Column -->
</div> <!-- End Row -->

<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" ng-click="add()">Add Line</button>
    </div>
</div> <!-- End Row -->