<div class="row" ng-controller="spContactsController">
    <div class="col-md-12" ng-controller="spQuoteSupplierSelectContactController">

        <input class="input full-width" placeholder="Search or Add" ng-model="spContact.spContact.contactSearch" />

        <ul class="list-group" style="border: 1px solid;height: 200px;overflow: auto;">
            <a  href="#" 
                ng-repeat="contact in spContact.collections.SpContacts | filter:spContact.spContact.contactSearch | orderBy:'name'"
                ng-class="{active: spContact.spContact.currentContact == contact}" 
                ng-click="spQContactSelect.spQContactSelect.selectCurrentQuoteSupplierContact(contact)" 
                class="list-group-item" >
                {{contact.name}} <span ng-show="contact.title">({{contact.title}})</span>
            </a>
            <li ng-show="spContact.spContact.showAdd()" class="list-group-item">
                <a href="#" ng-click="spContact.spContact.addContact()">ADD CONTACT: '{{spContact.spContact.contactSearch}}'</a>
            </li>
        </ul>
    </div> 
</div>