<!-- SUPPLIER QUOTES FORM -->
        <div class="row">
            <div class="col-md-3">
                <h3>Supplier Quote</h3>
            </div>
            <div class="col-md-6 alert alert-success"
                    ng-show="wakDataForm.$pristine">
                    Last Auto Save: {{entity.spQuote.modified | modDate}}
            </div>
            <div class="col-md-6 alert alert-danger"
                    ng-show="wakDataForm.$dirty">
                    Form Has Been Edited Since Last Save
            </div>
            <div class="col-md-2 col-md-offset-1">
                <button class="btn btn-danger" ng-click="wakDataDir.confirmDelete(entity.spQuote)">
                Delete Quote</button>
                <button class="btn btn-warning" ng-click="remove(entity)">
                Remove</button>
                
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-3">
<!-- QUOTE NO -->                
                <div class="form-group form-group-sm">
                    <label>Quote No</label>
                    <input class="form-control auto-save" 
                            ng-model="entity.spQuote.quoteNo"
                            ng-blur="save(entity.spQuote)">
                </div>
            </div>
<!-- SUPPLIER -->            
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label>Supplier</label>
                    <input  readonly class="form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.sName"
                            ng-click="csQuotes.csQuotes.selectSupplier()">
                </div>
            </div>
<!-- QUOTE DATE -->
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label>Quote Date</label>
                    <input type="date" class="form-control auto-save" 
                            ng-model="entity.spQuote.quoteDate"
                            ng-blur="save(entity.spQuote)">
                </div>
            </div>
<!--QUOTE EXPIRES -->
            <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label>Quote Expires</label>
                    <input type="date" class="form-control auto-save" 
                            ng-model="entity.spQuote.expireDate"
                            ng-blur="save(entity.spQuote)">
                </div>
            </div>

        </div> <!-- End Row -->
        
        <div class="row">
            
            <div class="col-md-3">
 <!-- ENTERED BY -->               
                <div class="form-group form-group-sm">
                    <label>Entered By</label>
                    <input  readonly class="form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.enteredBy"
                            >
                </div>

            </div>
<!--QUOTED BY CONTACT -->
            <div class="col-md-3">
                <div class="form-group form-group-sm" ng-show="entity.spQuote.sName">
                    <label>Quoted By</label>
                    <input  readonly class="form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.contactName"
                            ng-click="csQuotes.csQuotes.selectSupplierContact()">
                </div>
            </div>
<!-- FILE LINK -->
             <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label>File Link</label>
                    <input  class="form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.spQuoteFileLink"
                            ng-blur="save(entity.spQuote)">
                </div>
            </div>
<!-- TERMS -->
             <div class="col-md-3">
                <div class="form-group form-group-sm">
                    <label>Terms</label>
                    <input  class="form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.terms"
                            title="This field is pulled from the Suppliers Overview Tab"
                            ng-blur="save(entity.spQuote)">
                </div>
            </div>

        </div> <!-- End Row -->
<!--FOB -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>FOB</label>
                    <textarea  class="input-sm form-control auto-save" 
                            ng-model="entity.spQuote.FOB"
                            ng-blur="save(entity.spQuote)" rows="5">
                    </textarea>
                </div>
            </div>
<!--DELIVERY -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>Delivery</label>
                    <textarea  class="input-sm form-control auto-save" 
                            ng-model="entity.spQuote.delivery"
                            ng-blur="save(entity.spQuote)" rows="5">
                    </textarea>
                </div>
            </div>
<!-- ADDRESS -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="input-sm form-control auto-save default-cursor" 
                            ng-model="entity.spQuote.address" rows="5"
                            ng-blur="save(entity.spQuote)">
                    </textarea>
                </div>
            </div>
<!-- NOTES -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>Notes</label>
                    <textarea class="input-sm form-control auto-save" 
                            ng-model="entity.spQuote.notes"
                            ng-blur="save(entity.spQuote)" rows="5">
                    </textarea>
                </div>
            </div>


        </div><!-- End Row -->

        <div class="row" wak-data="SupplierQuoteLine" filter="spQuoteRef.ID = :1" params="entity.spQuote.ID" watch="CustomerSupplierQuotes"> 
            <div class="col-md-12" ng-include="'/apps/Customers/csDashTabs/quotes/spQuoteLinesForm.html'"></div>
        </div>