<h3>Select Supplier</h3>
<div class="row" ng-controller="supplierList" >
    <div class="col-md-12" ng-controller="spQuoteSupplierSelectController" >

        <input class="input full-width" placeholder="Search or Add" ng-model="sp.Suppliers.searchText" />

        <ul class="list-group" style="border: 1px solid;height: 200px;overflow: auto;">
            <a  href="#" 
                ng-repeat="supplier in testValue=(sp.collections.Suppliers | filter:sp.Suppliers.searchText | orderBy:'name')"
                ng-click="spQSupplierSelect.spQSupplierSelect.selectCurrentQuoteSupplier(supplier)" 
                class="list-group-item" >
                {{supplier.name}}
            </a>
            <li ng-show="sp.Suppliers.showAdd()" class="list-group-item">
                <a href="#" ng-click="sp.Suppliers.add()">ADD SUPPLIER: '{{sp.Suppliers.searchText}}'</a>
            </li>
        </ul>
    </div> 
</div>