
<ul class="nav nav-sidebar">
    <div class="form-group" >
        <input type="text" class="form-control" placeholder="Search or Add" ng-model="cl.Customers.searchText">
    </div>
</ul>
<ul class="nav nav-sidebar" >
    <li ng-repeat="customer in testValue=(cl.collections.Customers | filter:cl.Customers.searchText | orderBy:'name') " 
    ng-click="cl.Customers.selectCS(customer)"
    ng-class="{active:cl.Customers.currentSelection.name == customer.name}">
        <a href="#">{{customer.name}}</a>
    </li>
   
    <li ng-show="cl.Customers.showAdd()">
        <a href="#" ng-click="cl.Customers.add()">ADD CUSTOMER: '{{cl.Customers.searchText}}'</a>
    </li>
</ul>