<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Select Primary Address for this contact.</h4>
</div>
<div class="modal-body" ng-controller="csAddressesController">
    <div wak-data="CsAddress" filter="Customer">
        <div ng-show="collection[0].ID">
            There are no addresses to pick from.... use the 'Addresses' Tab to create addresses.
        </div>
        <div class="row"
            ng-click="csAddr.csAddr.saveContactAddress(address)"
            ng-repeat="address in collection | filter:csAddr.csAddr.addressSearch | orderBy:'title'">
            <div class="col-md-1">
                <p>{{address.title}}</p>
            </div>
            <div class="col-md-5">
                <textarea class="form-control default-cursor" rows="5" readonly>{{address.address}}</textarea>
            </div>
            <div class="col-md-6">
                <iframe
                    width="300"
                    height="250"
                    frameborder="0" style="border:0"
                    ng-src="{{address.address | gMap | trustAsResourceUrl}}">
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>