<!-- the deletePartModalController is defined in csPartsController.js-->
<div ng-controller="deletePartModalController">
    <h3>Are you sure you want to delete this part?</h3>
    <p>This will permanently remove all this parts info and related Rev Data.  It will also remove any references to this part in all other areas.</p>
    <div class="row">
        <button class="btn btn-lg btn-danger col-md-6" ng-click="deletePart.deletePart.Yes()">Yes</button>
        <button class="btn btn-lg btn-success col-md-6" ng-click="deletePart.deletePart.No()">No</button>
    </div>
</div>