<div class="row">
    <div class="col-md-12" ng-controller="csPartsController">
        <div class="row">
			<div class="col-md-8">
				<div class="row">
        
					<div class="col-md-6" >
						<p><u>Parts</u></p>
                        <div wak-data="PartNumber" filter="Customer">
                            <search-add-list
                              list-item-exp = "'{{partNo}}'"
                              sort-attr = "partNo"
                              add-attr = "partNo"
                              create-obj = "createObj">
                            </search-add-list>
                        </div>
                        <div wak-data="current.PartNumber"   ng-form="wakDataForm">
                            <form class="form-horizontal" ng-show="entity.ID">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Part No</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.partNo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.description">
                                    </div>
                                </div>
                                <div class="form-group" ng-show="entity.ID">
                                    <label class="col-sm-3 control-label">Price Break Summary</label>
                                    <div class="col-sm-9">
                                        <textarea readonly wrap="off" type="text" class="form-control default-cursor auto-save" rows="5" 
                                        ng-model="current.PartRev.quotePriceBreaks"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button class="btn btn-danger" type="button" ng-click="csParts.confirmDelete(entity, csParts.csParts.getParts)">Delete Part</button>
                                    </div>
                                </div>
                            </form>
                        </div>
					</div> 
					<div wak-data="current.PartNumber">
                        <div class="col-md-6" ng-show="entity.ID">
                            <p><u>Revisions</u></p>
                            <div wak-data="PartRev" filter="PartNumber">
                                <search-add-list
                                  list-item-exp = "'{{revision}}'"
                                  sort-attr = "revision"
                                  add-attr = "revision"
                                  create-obj = "createObj">
                                </search-add-list>
                            </div>
                            <form class="form-horizontal" name="wakDataForm" wak-data="current.PartRev" ng-show="entity.ID">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Revision</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.revision">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Quote No:</label>
                                    <div class="col-sm-9">
                                        <input readonly type="text" class="input-xs col-md-12 default-cursor auto-save" 
                                        value="{{entity.quoteNo}} (PartNo: {{entity.quotePartNo}})"
                                        ng-click="csParts.csParts.selectQuoteLine()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Image URL</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.img">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Part Weight</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.partWeight">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Alloy Used</label>
                                    <div class="col-sm-9">
                                        <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                                        ng-model="entity.alloyUsed">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">gDrive URL</label>
                                    <div class="col-sm-9">
                                        <input  ng-blur="save()" 
                                                type="text" class="input-xs col-md-12 auto-save" 
                                                ng-model="entity.googleDriveFolder">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Notes</label>
                                    <div class="col-sm-9">
                                        <textarea ng-blur="save()" type="text" class="form-control auto-save" rows="5" 
                                        ng-model="entity.notes"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button class="btn btn-danger" type="button" ng-click="csParts.confirmDelete(entity, csParts.csParts.getPartRevs)">Delete Part Rev</button>
                                    </div>
                                </div>

                            </form>

                        </div> 
                    </div>

				
				</div>
				<div class="row" wak-data="current.PartRev" ng-show="entity.ID">
                    <div class="col-md-12">
                        <h4 class="full-width"><u>Parts Routing</u></h4>
                        <table class="table table-condensed" wak-data="Routing" filter="PartRev" ng-form="wakDataForm">
                            <tbody>
                                <tr>
                                    <th class="col-md-1">Step No.</th>
                                    <th class="col-md-2">Op. Type</th>
                                    <th class="col-md-2">Supplier</th>
                                    <th class="col-md-4">Op. Description</th>
                                    <th class="col-md-2">Quote No.</th>
                                    <th class="col-md-1 delete-column"></th>
                                </tr>
                                <tr ng-repeat="route in collection | orderBy: 'stepNo'">
                                    <td><input type="number" ng-model="route.stepNo" class="form-control input-sm" ng-blur="save(route)"/></td>
                                    <td>
                                        <select class="form-control input-sm" 
                                                ng-options="type for type in csParts.csParts.opTypes" 
                                                ng-model="route.opType"
                                                ng-change="save(route)">
                                        </select>
                                    </td>
                                    <td>{{route.supplier}}</td>
                                    <td>Part No: {{route.partNo}} --- {{route.poDescription}}</td>
                                    <td>{{route.supplierQuoteNo}}</td>
                                    <td>
                                        <button ng-click="remove(route)" type="button" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input ng-model="routeToAdd.stepNo" class="form-control input-sm"/></td>
                                    <td>
                                        <select class="form-control input-sm" 
                                                ng-options="type for type in csParts.csParts.opTypes" 
                                                ng-model="routeToAdd.opType">
                                        </select>
                                    </td>
                                    <td>{{routeToAdd.init="init"}}{{routeToAdd.supplierQuoteLine.sName}}</td>
                                    <td>PartNo: {{routeToAdd.supplierQuoteLine.partNo}} ---
                                         {{routeToAdd.supplierQuoteLine.quoteDescription}}</td>
                                    <td>
                                        <button ng-click="csParts.csParts.selectSupplierQuoteLine(routeToAdd)" type="button" class="btn btn-primary btn-xs">
                                            Select Supplier Op.
                                        </button>
                                    </td>
                                    <td>
                                        <button ng-click="add(routeToAdd)" type="button" class="btn btn-primary btn-xs">
                                            Add Route
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
            
            </div>
            
            
            
            
            <div class="col-md-4" ng-show="entity.show">
                <img ng-show="entity.img" border="0" ng-src="{{entity.img | gDriveImg}}" style="width: 100%;">
                <h4 ng-show="entity.googleDriveFolder">Files - 
                    <a target="_blank" href="{{entity.googleDriveFolder}}">Open Drive</a>
                </h4>
                <iframe ng-show="entity.googleDriveFolder"
                        style="width:100%; height:500px;background-color: white;"
                        ng-src="{{entity.googleDriveFolder | gDriveFolder | trustAsResourceUrl}}" 
                ></iframe>
            </div>
        </div>
    </div>


</div>