<div class="row">
    <div class="col-md-12" ng-controller="csAddressesController">
        <div class="row">
            <div class="col-md-3" wak-data="CsAddress" filter="Customer">

                <search-add-list
                    list-item-exp = "'{{title}}'"
                    sort-attr = "title"
                    add-attr = "title"
                    create-obj = "createObj">
                </search-add-list>
            
                
            </div> 
            <div class="col-md-4" ng-form="wakDataForm" wak-data="current.CsAddress" ng-show="entity.ID">
                <h4><u>Address Details</u></h4>
                <form class="form-horizontal" >
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                            ng-model="entity.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <textarea ng-change="csAddr.csAddr.updateMap()" 
                            ng-blur="save()" class="form-control auto-save" rows="5" 
                            ng-model="entity.address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea ng-blur="save()" class="form-control auto-save" rows="3" 
                            ng-model="entity.description"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notes</label>
                        <div class="col-sm-9">
                            <textarea ng-blur="save()" class="form-control auto-save" rows="3" 
                            ng-model="entity.notes"></textarea>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Ship Vendor</label>
                        <div class="col-sm-9">
                            <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                            ng-model="entity.shipVendor">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Ship Acct</label>
                        <div class="col-sm-9">
                            <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                            ng-model="entity.shipAcct">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Ship Method</label>
                        <div class="col-sm-9">
                            <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                            ng-model="entity.shipMethod">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">Ship Terms</label>
                        <div class="col-sm-9">
                            <input ng-blur="save()" type="text" class="input-xs col-md-12 auto-save" 
                            ng-model="entity.shipTerms">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button class="btn btn-danger" type="button" ng-click="wakDataDir.confirmDelete(entity)">Delete Address</button>
                        </div>
                    </div>
                </form>
                
            </div> 
            <div class="col-md-5" wak-data="current.CsAddress" ng-show="entity.ID">
                <ul class="list-group">
                    <li class="list-group-item" ng-show="entity.address">
                        <iframe
                            
                            frameborder="0" style="border:0;width: 100%;height: 400px;"
                            ng-src="{{entity.address | gMap | trustAsResourceUrl}}">
                        </iframe>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>


</div>
