<!DOCTYPE html>
<html>
    
    <head>
        <title>Molded Magnesium Products V4</title>
        
        <!--Bootstrap CSS-->
        <link rel="stylesheet" type="text/css"
        href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.superhero.css" id="bootstrap-theme">

        <!--Dashboard CSS-->
        <link rel="stylesheet" type="text/css" href="/index.waPage/css/dashboard.css">
               
        <!--Chance Library-->
       	<script src="/js/chance.min.js"></script>

        <!-- jQuery -->
        <script src="/js/jquery-2.1.3.min.js"></script>
        
        <!--Bootstrap JS-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
        <!--Angular Wakanda JS-->
        <script src="/js/angular.min.js"></script>
        <!-- Minified ngWAK-->
        <script src="/js/angular-wakanda.min.js"></script>
        
        <!--Development Sources
        <script src="/js/bower-angular-wakanda/src/extras/Class.js"></script>
        <script src="/js/bower-angular-wakanda/src/WAF/extra-init.js"></script>
        <script src="/js/bower-angular-wakanda/src/WAF/Data-Provider.js"></script>
        <script src="/js/bower-angular-wakanda/src/WAF/Dates.js"></script>
        <script src="/js/bower-angular-wakanda/src/WAF/Rest.js"></script>
        <script src="/js/bower-angular-wakanda/src/angular-wakanda.js"></script>
		-->
		
        <!--Main App Module and Services Init-->
        <script src="/index.waPage/js/csAppDataFactory.js"></script>
        <script src="/index.waPage/js/index-script.js"></script>
        <script src="/index.waPage/js/mainTemplatesController.js"></script>

        <!--
                Unfortunately... we cannot lazy load these controllers after the page has been bootstrapped by angular
                So, every module, controller, service, etc, need to be loaded here first...

                However... all of our templates can be lazy loaded using ng-include and should be loaded this way
        -->

        <!--Login Modal Controller-->
        <script src="/index.waPage/js/login-controller.js"></script>

        <!--Customer Application-->
        <script src="/apps/Customers/csSideBarController.js"></script>
        <script src="/apps/Customers/csDashController.js"></script>
		
		<script src="/apps/Customers/csDashTabs/overview/csOverviewController.js"></script>
		<script src="/apps/Customers/csDashTabs/contacts/csContactsController.js"></script>
		<script src="/apps/Customers/csDashTabs/addresses/csAddressesController.js"></script>
		<script src="/apps/Customers/csDashTabs/parts/csPartsController.js"></script>
		<script src="/apps/Customers/csDashTabs/quotes/csQuotesController.js"></script>
		<script src="/apps/Customers/csDashTabs/quotes/csQuoteLineController.js"></script>
		<script src="/apps/Customers/csDashTabs/quotes/spQuoteFormController.js"></script>
		<script src="/apps/Customers/csDashTabs/orders/csOrdersController.js"></script>
		<script src="/apps/Customers/csDashTabs/files/csFilesController.js"></script>
		<script src="/apps/Customers/csDashTabs/issues/csIssuesController.js"></script>
		

		<!-- Suppliers Application-->
		<script src="/apps/Suppliers/spDashController.js"></script>
		<script src="/apps/Suppliers/spSideBarController.js"></script>

		<script src="/apps/Suppliers/spDashTabs/overview/spOverviewController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/contacts/spContactsController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/addresses/spAddressesController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/quotes/spQuotesController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/purchaseOrders/spPurchaseOrdersController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/files/spFilesController.js"></script>
		<script src="/apps/Suppliers/spDashTabs/issues/spIssuesController.js"></script>

    </head>
    
    <body ng-app="mainPage" ng-controller="templates">
        <nav class="navbar navbar-default navbar-fixed-top" ng-include="'mainNavBar.html'"></nav>
        <div class="container-fluid" ng-include="templates.currentMainTemplate.templateUrl"></div>

        <!--Login Modal-->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" style="padding: 10px;">
                    <form ng-submit="login.login()" class="form-signin" ng-controller="loginController">
                        <h2 class="form-signin-heading">{{login.modalTitle}}</h2>               
                        <input ng-model="login.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">                        
                        <input ng-model="login.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">                        
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>                   
                </div>
            </div>
        </div>

        <!-- Re-Usable Modal -->
        <div class="modal fade" id="reusable-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="padding: 10px;" ng-include="templates.reusable.modal.templateUrl">
                                     
                </div>
            </div>
        </div>

    </body>

</html>